<!DOCTYPE HTML>
<html>
    <head>
        <title>Add new clients</title>
    </head>
    <body>
        <div>
            <h4>Add new client</h4>
            <form action="../clients" method="post">
                <label>
                    Name <br/>
                    <input type="text" name="name" value="John Dou">
                </label>
                <br/>
                <label>
                    Address (Street)<br/>
                    <input type="text" name="street" value="Chambers St">
                </label>
                <br/>
                <label>
                    Phones number (If you wish to specify more than one value, separate them with a comma)<br/>
                    <input type="text" name="phones" value="+380933242545">
                </label>
                </br>
                <br/>
                <br/>
                <input type="submit" value="Create">
            </form>
        </div>
    </body>
</html>
